# ====================================================================
# Игнорирование файлов сборки и артефактов компиляции C++ (CMake/Ninja)
# ====================================================================

# Папки сборки и кэш CMake
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
targets.ninja
rules.ninja
.ninja_deps
.ninja_log

# Исполняемые файлы и динамические библиотеки
*.exe
*.dll
*.so
*.dylib
*.out
*.app
/CppRestApiServer

# Объектные файлы и промежуточный мусор компилятора
*.obj
*.o
*.a
*.lib
*.pdb
*.idb
*.d

# Скрытые папки сред разработки (VS Code, CLion, Visual Studio)
.vscode/
.idea/
.vs/
*.user
*.suo

# Локальные файлы конфигурации окружения (секреты)
.env

# Временные файлы текстовой базы данных пользователей
data/users.txt
build.ninja
